<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <!-- <link type = "image/x-icon" rel = "shortcut icon" href="static/imagens/favicon_io/favicon.ico"> -->
    <link type = "image/x-icon" rel = "shortcut icon" href="{{url_for ('static', filename='imagens/favicon_io/favicon.ico')}}">
    <link type = "text/css" rel = "stylesheet" href="{{url_for ('static', filename='css/estilos.css')}}">
</head>
<body class="bg2">
    <div id="centralizado">
        <p style="text-align:left;">
            <img src="static/imagens/logo.png" alt="Unes Universidade">

            <span style="float:right;">
                <a href="index" target="_blank"> Home |</a>
                <a href="quemsomos"> Quem somos |</a>
                <a href="contato" target="_blank"> Contato |</a>
                <a href="visualizar" target="_blank"> Visualizar |</a>
            </span>
        </p>
    </div>

    {%block content%}
    {%endblock%}
      

    <div id="centralizado">
        <h4>
        Todos os direitos reservados
        </h4>
    </div>
    
</body>
</html>