{%extends 'base.html'%}
{%block content%}

<body>
    
    <div id="texto">
    <h2>
        Quem somos 
    </h2>
    
    <p>
        Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    
    <h2>
        5 motivos para estudar 
    </h2>
    
    <ol>
        <li> Material sempre atualizado </li>
        <li> Tablet em sala de aula </li>
        <li> Professores renomados </li>
        <li> Universidade bem avaliada </li>
        <li> Ótima localização </li>
    </ol>

    <hr>
    </hr>

    <h2>
        Objetivos
    </h2>
    
    <p>
        Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </div>

    
</body>

{%endblock%}

