<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <!-- <link type = "image/x-icon" rel = "shortcut icon" href="static/imagens/favicon_io/favicon.ico"> -->
    <link type = "image/x-icon" rel = "shortcut icon" href="{{url_for ('static', filename='imagens/favicon_io/favicon.ico')}}">
    <link type = "text/css" rel = "stylesheet" href="{{url_for ('static', filename='css/estilos.css')}}">
</head>
<body class="bg2">
    <div id="centralizado">
        <p style="text-align:left;">
            <img src="static/imagens/logo.png" alt="Unes Universidade">

            <span style="float:right;">
                <a href="index" target="_blank"> Home |</a>
                <a href="quemsomos"> Quem somos |</a>
                <a href="contato" target="_blank"> Contato |</a>
                <a href="visualizar" target="_blank"> Visualizar |</a>
            </span>
        </p>
    </div>
    


    <div id="texto">
    <h2>
        Quem somos 
    </h2>
    
    <p>
        Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    
    <h2>
        5 motivos para estudar 
    </h2>
    
    <ol>
        <li> Material sempre atualizado </li>
        <li> Tablet em sala de aula </li>
        <li> Professores renomados </li>
        <li> Universidade bem avaliada </li>
        <li> Ótima localização </li>
    </ol>

    <hr>
    </hr>

    <h2>
        Objetivos
    </h2>
    
    <p>
        Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </div>

    <div id="centralizado">
        <h4>
        Todos os direitos reservados
        </h4>
    </div>
    
</body>
</html>